@model JuegoAdivinarNumero.Models.Juego
@{
    ViewBag.Title = "Adivinas tú";
    Layout = "~/Views/Shared/_Layout.CSHTML";
}

<style>
    .btnPersonaEnviar {
        margin: 0;
    }

    .numero-aleatorio-input {
        border-radius: 16px;
        text-align: center;
        max-width: 100px;
        min-height: 40px;
        border-style: ridge;
        border-color: #fcc93d;
        outline: none;
        line-height: 33px;
    }
</style>
@Scripts.Render("~/bundles/jqueryval")




@*Vista a la que se ingresa cuando el usuario prefiere que adivine la computadora*@
<div id="ok" class="cuadro1">
    <div class="subtitulo">
        <p>¡Tu adivinarás!  Yo pensaré en un número entre 1 y 100</p>
    </div>
    <br />
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <fieldset>
            <div class="palabras">
                <p>¿Cuál crees que es?</p>
                @Html.TextBoxFor(model => model.numeroAleatorio, new { @class = "animated infinite pulse numero-aleatorio-input", id = "ingresaNum" })
                <div></div>
                @Html.ValidationMessageFor(model => model.numeroAleatorio, "", new { @class = "text-danger" })


                <div class="animated infinite pulse"></div>
                <div id="numero-aleatorio" style="display:none">?</div>
                <br />
                <input class="botones btnPersonaEnviar" type="button" id="boton" value="Enviar">
                <br />
                <br />
                <div id="tamanio" style="display:none;color:red">
                    <p>Mi número es:</p>
                    <p id="tamanio">?</p>
                </div>
            </div>
        </fieldset>
    }
</div>

<div id="oculto" class="cuadro1" style="display:none;">
    <div class="titulo">
        <p>¡FELICIDADES, GANASTE!</p>
    </div>
    <div class="subtitulo">
        <p>¿Querés jugar una vez más?</p>
        <div class="form-group">
            <input class="botones" type="button" value="Si" onclick="location.href='@Url.Action("SeguirJuego", "Home")' + '?idJuega=' + 'Si';" />
            <input class="botones" type="button" value="No" onclick="location.href='@Url.Action("SeguirJuego", "Home")' + '?idJuega=' + 'No';" />
        </div>
    </div>
</div>

@section scripts{
    @*Busca un número aleatorio como su primer intento*@
    <script type="text/javascript">
        var numero = 1;
        numeroAleatorio(1, 100);
        function numeroAleatorio(min, max) {
            var num = Math.round(Math.random() * (max - min) + min);
            $('#numero-aleatorio').text(num);
            numero = num;
        }
    </script>

    @*Da diferentes tiempos a los diferentes div, para que no todos aparezcan al mismo tiempo*@
    <script type="text/javascript">
        $("#boton").click(function () {
            if ($('#ingresaNum').valid() == true) {
                setTimeout(function () {
                    $("#tamanio").fadeIn(500);
                }, 1000);
            }
            else {
                $("#tamanio").hide();
            }
        });
    </script>

    @*Cada vez que el usuario presiona el botón enviar, se direcciona al método Comparar, en el cual se compara el número seleccionado por la pc y el de la persona*@
    <script>
        $("#boton").click(function () {
            if ($('#ingresaNum').valid() == true) {
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("Comparar", "Home")',
                    data: { numPC: numero, numPersona: $('#ingresaNum').val() },
                }).done(function (data) {
                    if (data == "Felicidades") {
                        ocultar();
                    }
                    else { $('#tamanio').html(data); }
                });
            }
        });
    </script>

    @*Oculta el div general si la computadora adivino el número y muestra otro div*@
    <script>
        function ocultar() {
            $("#ok").hide();
            $("#oculto").show();
        }
    </script>
}